# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode
.idea

*/**/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Project files
gocity
coverage.txt
/vendor
/dist

# assets copied from front-end branch (see Makefile)
/handle/assets
/node_modules
/build
