gocity.rodrigobrito.net {
	gzip

	log stdout
	errors stdout

	redir 307 {
        if {path} not_match ^\/(api|health)
        / "https://go-city.github.io/{query}#{path}"
    }

	proxy / api:4000 {
    	transparent
    }
}