html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas {
  flex: 1;
  display: block;
  background: #b2b2b2;
}

.canvas canvas {
  outline: none;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: table;
  margin: 0 auto;
  touch-action: none;
}

.header {
  padding: 10px;
  background: #fff;
}

.float-card {
  position: fixed;
}

@media (max-width: 500px) {
  .float-card {
    display: none;
  }
}

.field {
  margin: 20px auto;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-50 {
  margin-left: 50px;
}

.legend {
  padding: 10px;
  background: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.legend-ico {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #252525;
}

.legend-ico.blue {
  background: rgb(32, 156, 238);
}

.legend-ico.red {
  background: rgb(255, 100, 100);
}

.legend-ico.white {
  background: #fff;
}

.footer-warning {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
  margin: 10px auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring-dark:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #252525;
  border-color: #252525 transparent #252525 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  text-align: center;
  color: #fff;
}

small a {
  display: inline-block;
}

.github-corner {
  z-index: 999;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.link-like-button {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.link-like-element {
  cursor: pointer;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
